/*
Primary colours:
	White:
		rgb(255, 255, 255) 
		#FFFFFF
	Dark Grey: 
		rgb(21, 21, 21)
		#151515
	Crimson red: 
		rgb(153, 0, 0)
		#990000
*/

@font-face {
	font-family: "libra_serif_modern";
	src: url("fonts/libraserifmodern-regular-webfont.woff2") format("woff2"),
		url("fonts/libraserifmodern-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bebas_neue";
	src: url("fonts/bebasneue-regular-webfont.woff2") format("woff2"),
		url("fonts/bebasneue-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif; */
	font-family: "libra_serif_modern";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "bebas_neue";
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.splash-text {
	font-size: 2em;
}

/* 
Background color helper classes
BTC prefix used to distinguish against Bootstrap's bg-light and bg-dark
*/
.btc-bg-white {
	background-color: white !important;
}

.btc-bg-grey {
	background-color: #151515 !important;
}

.btc-bg-red {
	background-color: #990000 !important;
}

.img-cover-lg {
	width: 100%;
	height: 40vh;
	object-fit: cover;
}

.member-img {
	width: 200px;
	height: 240px;
	object-fit: cover;
}

.sponsor-img {
	height: 100px;
	width: auto;
}
